* {
    box-sizing: border-box;
    margin:2px;
    padding:2px;
}



body {
    background-color: #a7bed3;
    color:rgb(4, 11, 104);
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:lighter;
}

h1 {
    color:#ff0000;
}

.box-1 {
    background-color: whitesmoke;
    padding:0% 20%;
}

.box-1 h4 {
    font-family: Tahoma;
    font-weight:800;
    font-style: italic;
    text-decoration: underline;
    text-transform:uppercase;
    letter-spacing:0.1em;
}


.container1 {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%
}

.image1 {
  flex-basis: 40%
}

.text1 {
  font-size: 20px;
  padding-left: 20px;
}

.box-2 {
    background-color: wheat;
    padding: 20px;
    margin:10px;
}


.rcorners2 {
  border-radius: 25px;
  border: 5px solid #c6e2e9;
  padding: 20px;
  height: 150px;
  margin: 1rem
}

.container {
    width: 80%;
    margin:auto;
}

hr {
margin: 1rem 0px;
}

#myform {
    background-color: grey;
    color: blanchedalmond;
    padding: 50px;
    margin 10px;
}

#myform input[type="text"] {
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10pz;
    width: 100%;
}

.button {
    padding: 8px;
    border: none;
    background-color: darkblue;
    color: whitesmoke;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

a:hover {
    color:red;
}

